body {
  background-image: url("hexagons.png");
  background-size: cover;

}

button {
  height: 100px;
  width: 100px;
  font-size: 50px

}

#number0 {
width: 200px
}



.output {
display: block;
width: 40%;
height: 120px;
border: 2px solid black;
font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
font-size: 60px;
color: white;
}

.tropicalstorm {
  background-color: #FF0000
}


.manualoperations {
  background-color: #00FF00
}
